USE [QuanLyThuVien_K235480106025]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeSachTheoThang]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ThongKeSachTheoThang]
(
    @Thang INT,
    @Nam   INT
)
RETURNS @BangThongKe TABLE (
    [MaSach]          INT,
    [TenSach]         NVARCHAR(300),
    [TenTheLoai]      NVARCHAR(100),
    [SoLanDuocMuon]   INT,
    [DanhGiaHoatDong] NVARCHAR(50)
)
AS
BEGIN
    -- Bước 1: Đẩy dữ liệu cơ bản vào biến bảng (tất cả sách + đếm lần mượn)
    INSERT INTO @BangThongKe ([MaSach],[TenSach],[TenTheLoai],[SoLanDuocMuon],[DanhGiaHoatDong])
    SELECT
        s.[MaSach], s.[TenSach], tl.[TenTheLoai],
        COUNT(pm.[MaPhieuMuon]),
        N'Chưa xét'
    FROM [Sach] s
    LEFT JOIN [TheLoai]   tl ON s.[MaTheLoai] = tl.[MaTheLoai]
    LEFT JOIN [PhieuMuon] pm ON s.[MaSach]    = pm.[MaSach]
         AND MONTH(pm.[NgayMuon]) = @Thang
         AND YEAR(pm.[NgayMuon])  = @Nam
    GROUP BY s.[MaSach], s.[TenSach], tl.[TenTheLoai];

    -- Bước 2: Phân loại bằng 3 lệnh UPDATE riêng biệt (logic nhiều bước)
    UPDATE @BangThongKe SET [DanhGiaHoatDong] = N' Sách Hot — Cần nhập thêm'
    WHERE [SoLanDuocMuon] >= 3;

    UPDATE @BangThongKe SET [DanhGiaHoatDong] = N' Bình thường'
    WHERE [SoLanDuocMuon] > 0 AND [SoLanDuocMuon] < 3;

    UPDATE @BangThongKe SET [DanhGiaHoatDong] = N' Sách Ế — Cần khuyến khích'
    WHERE [SoLanDuocMuon] = 0;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTienPhat]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTienPhat]
(
    @NgayTraDuKien DATE,
    @NgayTraThucTe DATE   -- NULL = sách chưa trả, tính đến hôm nay
)
RETURNS MONEY
AS
BEGIN
    DECLARE @NgayTra DATE      = ISNULL(@NgayTraThucTe, GETDATE());
    DECLARE @SoNgayQuaHan INT  = DATEDIFF(DAY, @NgayTraDuKien, @NgayTra);
    DECLARE @TienPhat MONEY    = 0;

    IF @SoNgayQuaHan > 0
        SET @TienPhat = @SoNgayQuaHan * 2000;

    RETURN @TienPhat;
END;
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](300) NOT NULL,
	[TacGia] [nvarchar](200) NOT NULL,
	[NhaXuatBan] [nvarchar](200) NULL,
	[NamXuatBan] [int] NULL,
	[GiaBan] [money] NULL,
	[SoLuongTon] [int] NOT NULL,
	[MaTheLoai] [int] NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetSachTheoTheLoai]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetSachTheoTheLoai]
(
    @MaTheLoai INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        s.[MaSach],
        s.[TenSach],
        s.[TacGia],
        s.[NamXuatBan],
        s.[GiaBan],
        s.[SoLuongTon],
        tl.[TenTheLoai]
    FROM [Sach] s
    JOIN [TheLoai] tl ON s.[MaTheLoai] = tl.[MaTheLoai]
    WHERE s.[MaTheLoai] = @MaTheLoai
      AND s.[SoLuongTon] > 0
);
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](300) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](150) NULL,
	[NgayDangKy] [date] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[DiemTichLuy] [int] NOT NULL,
	[TienVoucher] [money] NOT NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuSoLuong]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSoLuong](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuongTruoc] [int] NOT NULL,
	[SoLuongSau] [int] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[HanhDong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LichSuSoLuong] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayTraDuKien] [date] NOT NULL,
	[NgayTraThucTe] [date] NULL,
	[SoLuongMuon] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[DaCoThuong] [bit] NOT NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon_Archive_2026]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon_Archive_2026](
	[MaPhieuMuon] [int] NULL,
	[MaDocGia] [int] NULL,
	[MaSach] [int] NULL,
	[NgayMuon] [date] NULL,
	[NgayTraDuKien] [date] NULL,
	[TrangThai] [nvarchar](20) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DocGia] ON 

INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [Email], [NgayDangKy], [TrangThai], [DiemTichLuy], [TienVoucher]) VALUES (1, N'Nguyễn Thị Mai', N'Nữ', CAST(N'2000-03-15' AS Date), N'Hà Nội', N'0912345678', N'mai.nguyen@email.com', CAST(N'2026-04-25' AS Date), 1, 10, 1200000.0000)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [Email], [NgayDangKy], [TrangThai], [DiemTichLuy], [TienVoucher]) VALUES (2, N'Trần Văn Hùng', N'Nam', CAST(N'1998-07-22' AS Date), N'TP.HCM', N'0987654321', N'hung.tran@email.com', CAST(N'2026-04-25' AS Date), 1, 0, 1200000.0000)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [Email], [NgayDangKy], [TrangThai], [DiemTichLuy], [TienVoucher]) VALUES (3, N'Lê Thị Hoa', N'Nữ', CAST(N'2001-11-05' AS Date), N'Đà Nẵng', N'0909123456', N'hoa.le@email.com', CAST(N'2026-04-25' AS Date), 1, 0, 1200000.0000)
SET IDENTITY_INSERT [dbo].[DocGia] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuSoLuong] ON 

INSERT [dbo].[LichSuSoLuong] ([MaLichSu], [MaSach], [SoLuongTruoc], [SoLuongSau], [ThoiGian], [HanhDong]) VALUES (1, 5, 7, 6, CAST(N'2026-04-25T14:24:55.177' AS DateTime), N'MUON')
INSERT [dbo].[LichSuSoLuong] ([MaLichSu], [MaSach], [SoLuongTruoc], [SoLuongSau], [ThoiGian], [HanhDong]) VALUES (2, 2, 9, 8, CAST(N'2026-04-25T14:27:37.670' AS DateTime), N'MUON')
SET IDENTITY_INSERT [dbo].[LichSuSoLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuMuon] ON 

INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [NgayTraThucTe], [SoLuongMuon], [TrangThai], [GhiChu], [DaCoThuong]) VALUES (1, 1, 3, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-15' AS Date), NULL, 1, N'Đã trả', NULL, 0)
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [NgayTraThucTe], [SoLuongMuon], [TrangThai], [GhiChu], [DaCoThuong]) VALUES (2, 2, 4, CAST(N'2026-04-05' AS Date), CAST(N'2026-04-19' AS Date), NULL, 1, N'Đang mượn', NULL, 0)
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [NgayTraThucTe], [SoLuongMuon], [TrangThai], [GhiChu], [DaCoThuong]) VALUES (3, 3, 1, CAST(N'2026-04-10' AS Date), CAST(N'2026-04-24' AS Date), NULL, 1, N'Đang mượn', NULL, 0)
SET IDENTITY_INSERT [dbo].[PhieuMuon] OFF
GO
INSERT [dbo].[PhieuMuon_Archive_2026] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [TrangThai]) VALUES (1, 1, 3, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-15' AS Date), N'Đã trả')
INSERT [dbo].[PhieuMuon_Archive_2026] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [TrangThai]) VALUES (2, 2, 4, CAST(N'2026-04-05' AS Date), CAST(N'2026-04-19' AS Date), N'Đang mượn')
INSERT [dbo].[PhieuMuon_Archive_2026] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [TrangThai]) VALUES (3, 3, 1, CAST(N'2026-04-10' AS Date), CAST(N'2026-04-24' AS Date), N'Đang mượn')
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [GiaBan], [SoLuongTon], [MaTheLoai]) VALUES (1, N'Số đỏ', N'Vũ Trọng Phụng', N'NXB Văn học', 1936, 65000.0000, 5, 1)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [GiaBan], [SoLuongTon], [MaTheLoai]) VALUES (2, N'Dế mèn phiêu lưu ký', N'Tô Hoài', N'NXB Kim Đồng', 1941, 55000.0000, 8, 5)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [GiaBan], [SoLuongTon], [MaTheLoai]) VALUES (3, N'Lập trình C# cơ bản', N'Nguyễn Văn An', N'NXB KHKT', 2020, 180000.0000, 3, 2)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (1, N'Văn học', N'Tiểu thuyết, truyện ngắn, thơ ca trong và ngoài nước')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (2, N'Khoa học kỹ thuật', N'Sách về công nghệ, lập trình, kỹ thuật')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (3, N'Lịch sử', N'Sách lịch sử Việt Nam và thế giới')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (N'Nam') FOR [GioiTinh]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((0)) FOR [TienVoucher]
GO
ALTER TABLE [dbo].[LichSuSoLuong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT ((1)) FOR [SoLuongMuon]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT (N'Đang mượn') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT ((0)) FOR [DaCoThuong]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [CK_DocGia_GioiTinh] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [CK_DocGia_GioiTinh]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [CK_DocGia_NgaySinh] CHECK  (([NgaySinh]<=getdate()))
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [CK_DocGia_NgaySinh]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_PhieuMuon_NgayTra] CHECK  (([NgayTraDuKien]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_PhieuMuon_NgayTra]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_PhieuMuon_SoLuong] CHECK  (([SoLuongMuon]>=(1)))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_PhieuMuon_SoLuong]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_PhieuMuon_TrangThai] CHECK  (([TrangThai]=N'Quá hạn' OR [TrangThai]=N'Đã trả' OR [TrangThai]=N'Đang mượn'))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_PhieuMuon_TrangThai]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [CK_Sach_NamXuatBan] CHECK  (([NamXuatBan]>=(1000) AND [NamXuatBan]<=(2100)))
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [CK_Sach_NamXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [CK_Sach_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [CK_Sach_SoLuongTon]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoMuonSach]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoMuonSach]
    @TuNgay     DATE         = NULL,
    @DenNgay    DATE         = NULL,
    @TrangThai  NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @TuNgay  IS NULL SET @TuNgay  = DATEADD(DAY, -30, GETDATE());
    IF @DenNgay IS NULL SET @DenNgay = GETDATE();

    SELECT
        pm.[MaPhieuMuon],
        dg.[HoTen]     AS [TenDocGia],
        dg.[SoDienThoai],
        s.[TenSach],
        tl.[TenTheLoai],
        pm.[NgayMuon],
        pm.[NgayTraDuKien],
        pm.[NgayTraThucTe],
        pm.[SoLuongMuon],
        pm.[TrangThai],
        dbo.[fn_TinhTienPhat](pm.[NgayTraDuKien], pm.[NgayTraThucTe]) AS [TienPhat_VND],
        DATEDIFF(DAY, pm.[NgayMuon], ISNULL(pm.[NgayTraThucTe], GETDATE())) AS [SoNgayMuon]
    FROM [PhieuMuon] pm
    JOIN [DocGia]  dg ON pm.[MaDocGia]  = dg.[MaDocGia]
    JOIN [Sach]    s  ON pm.[MaSach]    = s.[MaSach]
    JOIN [TheLoai] tl ON s.[MaTheLoai]  = tl.[MaTheLoai]
    WHERE pm.[NgayMuon] BETWEEN @TuNgay AND @DenNgay
      AND (@TrangThai IS NULL OR pm.[TrangThai] = @TrangThai)
    ORDER BY pm.[NgayMuon] DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_MuonSach]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MuonSach]
    @MaDocGia       INT,
    @MaSach         INT,
    @NgayTraDuKien  DATE,
    @SoLuong        INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra độc giả tồn tại và đang hoạt động
    IF NOT EXISTS (
        SELECT 1 FROM [DocGia]
        WHERE [MaDocGia] = @MaDocGia AND [TrangThai] = 1
    )
    BEGIN
        RAISERROR(N'Độc giả không tồn tại hoặc thẻ đã bị khóa!', 16, 1);
        RETURN;
    END

    -- Kiểm tra sách tồn tại
    DECLARE @TonKho INT;
    SELECT @TonKho = [SoLuongTon] FROM [Sach] WHERE [MaSach] = @MaSach;
    IF @TonKho IS NULL
    BEGIN
        RAISERROR(N'Sách không tồn tại trong hệ thống!', 16, 1);
        RETURN;
    END

    -- Kiểm tra đủ số lượng
    IF @TonKho < @SoLuong
    BEGIN
        RAISERROR(N'Không đủ sách! Hiện chỉ còn %d cuốn trong kho.', 16, 1, @TonKho);
        RETURN;
    END

    -- Kiểm tra ngày trả hợp lệ
    IF @NgayTraDuKien <= CAST(GETDATE() AS DATE)
    BEGIN
        RAISERROR(N'Ngày trả dự kiến phải sau ngày hôm nay!', 16, 1);
        RETURN;
    END

    -- Tất cả hợp lệ: tạo phiếu mượn và trừ tồn kho
    INSERT INTO [PhieuMuon] ([MaDocGia],[MaSach],[NgayMuon],[NgayTraDuKien],[SoLuongMuon],[TrangThai])
    VALUES (@MaDocGia, @MaSach, GETDATE(), @NgayTraDuKien, @SoLuong, N'Đang mượn');

    UPDATE [Sach]
    SET [SoLuongTon] = [SoLuongTon] - @SoLuong
    WHERE [MaSach] = @MaSach;

    PRINT N' Đăng ký mượn sách thành công!';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TinhCongNoDocGia]    Script Date: 25/04/2026 3:16:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhCongNoDocGia]
    @MaDocGia       INT,
    @TongTienPhat   MONEY OUTPUT,
    @SoPhieuQuaHan  INT   OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        @TongTienPhat  = SUM(dbo.[fn_TinhTienPhat]([NgayTraDuKien],[NgayTraThucTe])),
        @SoPhieuQuaHan = COUNT(CASE
                            WHEN ISNULL([NgayTraThucTe], GETDATE()) > [NgayTraDuKien]
                            THEN 1 END)
    FROM [PhieuMuon]
    WHERE [MaDocGia] = @MaDocGia;

    SET @TongTienPhat  = ISNULL(@TongTienPhat, 0);
    SET @SoPhieuQuaHan = ISNULL(@SoPhieuQuaHan, 0);
END;

GO
